/* Media Queries */
@media (max-width: 768px) {
    .header {
        padding: 30px 10px 10px;
    }

    .header,
    .header .header-right {
        flex-direction: column;
        gap: 10px;
    }

    .main-content {
        flex-direction: column-reverse;
        justify-content: start;
        margin: auto;
        padding: 40px;
    }

    .main-content form,
    .main-content .text-container {
        width: 100%;
    }

    .main-content h1 {
        font-size: 40px;
        text-align: center;
        line-height: 1.4;
    }

    .main-content p {
        display: none;
    }

    .btn {
        font-size: 16px;
        font-weight: 600;
    }
}

@media (max-height: 500px) {
    .main-content {
        margin: 0 auto;
    }

    .main-content h1 {
        font-size: 40px;
    }
}
